@page "/weather"
@using Service.Admin.Web.Communication
@inject ReportEventBridge Bridge
@inject ILogger<Weather> Logger 
@attribute [StreamRendering]

<PageTitle>Tracing results</PageTitle>

<h1>Use cases</h1>

@if (!_reports.Any())
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Date</th>
            <th aria-label="A">Oh man</th>
            <th aria-label="B">what is this</th>
            <th>Summary</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var report in _reports)
        {
            <tr>
                <td>@report.TimeStamp</td>
                <td>@report.State</td>
                <td>@string.Join("<br>", report.Traces)</td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    private IReadOnlyCollection<ReportRecord> _reports = Array.Empty<ReportRecord>();

    protected override void OnInitialized()
    {
        _reports = Bridge.Reports;
        Bridge.OnNewReport += async (report) => await HandleNewReport(report);
        base.OnInitialized();
    }
    
    private async Task HandleNewReport(ReportRecord report)
    {
        await InvokeAsync(() =>
        {
            Logger.Log(LogLevel.Information, "Report handled in razor page");
            _reports = Bridge.Reports;
            StateHasChanged();
        });
    }
}
