@page "/metaData"

<div class="container">
    <div class="row">
        <div class="col-12 mb-3">
            <NoteTypeComponent />
        </div>
        <div class="col-12">
            <TagComponent />
        </div>
    </div>
</div>