:root {
    --background-color: #121212;
    --surface-color: #1E1E1E;
    --primary-color: #3B82F6;
    --foreground-color: #E0E0E0;
    --border-color: #2C2C2C;
    --hover-color: #2A2A2A;
    --disabled-color: #555555;

    --exit-button-color: #1A0000;
    --maximize-button-color: #2A2A00;
    --minimize-button-color: #001900;

    --font-family-regular: 'PT Sans', Arial, sans-serif;
    --font-family-bold: 'PT Sans', Arial, sans-serif;
    --font-family-italic: 'PT Sans', Arial, sans-serif;
    --font-family-bold-italic: 'PT Sans', Arial, sans-serif;

    --general-control-margin: 5px;
    --general-control-padding: 5px;
    --border-thickness: 1px;
    --corner-radius: 8px;

    --font-size-small: 12px;
    --font-size-normal: 14px;
    --font-size-large: 18px;
    --font-size-title: 24px;
    --font-size-extra-large: 30px;
}

body {
    color: var(--foreground-color);
    background-color: var(--background-color);
    font-family: var(--font-family-regular);
    margin: 0;
    padding: 0;
}

button {
    font-family: var(--font-family-bold);
    background: var(--surface-color);
    color: var(--foreground-color);
    border: var(--border-thickness) solid var(--border-color);
    margin: var(--general-control-margin);
    padding: var(--general-control-padding);
    border-radius: var(--corner-radius);
    cursor: pointer;
    text-align: center;
}

button:hover {
    background: var(--hover-color);
    border-color: var(--border-color);
}

button:disabled {
    background: var(--disabled-color);
    color: var(--foreground-color);
    border-color: var(--disabled-color);
}

label {
    font-family: var(--font-family-regular);
    color: var(--foreground-color);
    margin: var(--general-control-margin);
    padding: var(--general-control-padding);
}

input[type="text"], textarea {
    font-family: var(--font-family-regular);
    color: var(--foreground-color);
    border: var(--border-thickness) solid var(--border-color);
    background: transparent;
    padding: var(--general-control-padding);
    border-radius: var(--corner-radius);
}

input[type="text"]:focus, textarea:focus {
    outline: none;
    background: var(--foreground-color);
}

input[type="text"]:disabled, textarea:disabled {
    background: var(--disabled-color);
    color: var(--foreground-color);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-family-bold);
    color: var(--foreground-color);
}


table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    background-color: var(--background-color);
    color: #333;
    border: 1px solid #ddd;
}

table th, table td {
    text-align: left;
    padding: 0.75rem;
    border: 1px solid #ddd;
    word-wrap: break-word;
}

.table thead th {
    background-color: var(--background-color) !important; /* Dunkle Hintergrundfarbe */
    color: var(--foreground-color) !important;        /* Textfarbe */
    border-color: var(--border-color) !important;    /* Farbe der Zellenumrandung */
    text-align: left;
}


td {
    background-color: var(--background-color);;
}


tr:hover {
    background-color: #f1f1f1;
}

.table-active {
    background-color: var(--background-color); !important; 
    font-weight: bold;
}

@media (max-width: 768px) {
    table {
        font-size: 0.9rem; 
    }
}

.border {
    border: 2px solid var(--border-color);
    background: var(--background-color);
    border-radius: var(--corner-radius);
}

.container {
    background: var(--background-color);
    color: var(--foreground-color);
    border: var(--border-thickness) solid var(--border-color);
    border-radius: var(--corner-radius);
    padding: var(--general-control-padding);
}

.navbar {
    background-color: #1E1E1E !important;
    color: #E0E0E0 !important;
}

.navbar-brand {
    color: #3B82F6 !important;
}

.navbar-dark .navbar-toggler {
    color: #FFF !important;
    border-color: #707070 !important;
}
