<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Service.Admin.Web</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler"/>

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="reports">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Reports
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="sprintData">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> SprintData
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="metaData">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> MetaData
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="timerSettings">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Settings
            </NavLink>
        </div>
    </nav>
</div>